---
import Layout from "../../layouts/Layout.astro";
import JobCard from "../../components/JobCard.astro";

const jobs = [
  {
    title: "Senior JavaScript Developer @ Lawlift",
    location: "Berlin",
    type: "full-time",
    kind: "hybrid",
    href: "/jobs/lawlift/senior-js-developer",
  },
  {
    title: "Experienced JavaScript Developer @ Lawlift",
    location: "Berlin",
    type: "full-time",
    kind: "hybrid",
    href: "/jobs/lawlift/javascript-developer",
  },
  {
    title: "Senior Frontend Engineer @ knime",
    location: "Berlin/Konstanz",
    type: "full-time",
    kind: "hybrid",
    href: "https://vuejobs.com/jobs/knime-senior-frontend-engineer-berlin-konstanz",
  },
];
---

<Layout title="Jobs">
  <div class="text-lg font-bold pb-4">Open Jobs</div>
  {
    jobs.map((job) => (
      <JobCard
        title={job.title}
        href={job.href}
        location={job.location}
        type={job.type}
        kind={job.kind}
      />
    ))
  }
</Layout>
